packages/*
Droid/bin/*
Droid/obj/*
iOS/bin/*
iOS/obj/*


gridview/obj/Debug/gridview.dll

gridview/obj/Debug/.NETPortable,Version=v4.5,Profile=Profile78.AssemblyAttribute.cs

gridview/obj/Debug/gridview.dll

gridview/obj/Debug/gridview.dll.mdb
